body {
    display: grid;
    background-color: lavender;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    " . header header header header"
    ". input input . ."
    ". display display display ."
    ". submit submit submit ."
    ". review review review .";
}
#header{
    background-color: skyblue;
    display: grid;
    grid-template-areas: " img h1 ";
    grid-template-columns: repeat(2, 1fr);
    grid-area: header;
    text-align: center;
    width: 75%;
    height: 200px;
    margin: 5px;
    padding: 0px 25px;
}

 h1{
    grid-area: h1;
    text-align: right;
    font-size: 25px;
    width: auto;
}
 img{
    height: 200px;
    width: 300px;
    grid-area: img;
   
}
#input-text{
    grid-area: input;
    padding: 25px 65px;
    text-align: center;
}
#display-info{
    grid-area: display;
    text-align: center;
}
#input-form{
    grid-area: submit;
    text-align: center;
    margin: 5px;
    padding: 25px;
}
#reviews{
    grid-area: review;
}
#error-msg{
    color: red;
    font-weight: 600px;
    text-align: center;
}
#list-reviews li{
    padding: 5px;
}