body {
    display: grid;
    background-color: lavender;
    grid-template-columns: repeat(5, 1fr);
    font-family: monospace;
    grid-template-areas: 
    " . header header header header"
    ". input input . ."
    ". display display display ."
    ". submit submit submit ."
    ". review review review .";
    grid-gap: 10px;
    border: 2px solid rgb(156, 147, 140);   
    margin: 10px;
}
#header{
    background-color: skyblue;
    background-image: linear-gradient(rgb(206, 171, 171), rgb(221, 221, 214), skyblue);
    display: grid;
    grid-template-areas: " img h1 ";
    grid-template-columns: 1fr 1fr;
    grid-area: header;
    text-align: center;
    width: 75%;
    height: 200px;
    grid-gap: 5px;
    border: 5px;
    padding: 0px 15px;
    border: 2px solid rgb(156, 147, 140);
}

 h1{
    grid-area: h1;
    text-align: right;
    font-size: 25px;
    width: auto;
    padding: 0px,25px;
}
 img{
    height: 200px;
    width: 250px;
    grid-area: img;
   
}
#input-text{
    grid-area: input;
    text-align: center;
    margin: auto;
}
#display-info{
    grid-area: display;
    text-align: center;
}
#input-form{
    grid-area: submit;
    text-align: center;
    margin: 5px;
}
#reviews{
    grid-area: review;
    padding: 10px;
}
#review-input{
    width: 200px;
}
#submit-review{
    width: 300px;
}
#error-msg{
    color: red;
    font-weight: 600px;
    text-align: center;
}
#list-reviews li{
    padding: 5px;
}